<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}} | Projekt z AI</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<!--<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet">-->
		<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
		
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarcollapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand topnav" href="{{ url_for('home.homepage') }}">Project Dream Team</a>
				</div>
				<div class="collapse navbar-collapse" id="navbarcollapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{{ url_for('home.homepage') }}">Home</a></li>
						<li><a href="{{ url_for('home.main_library') }}">Library</a></li>
						{% if current_user.is_authenticated %}
						<li><a href="{{ url_for('home.library',id=current_user.id) }}">My Library</a></li>
						<li><a href="{{ url_for('home.befriended_libraries',id=current_user.id) }}">Befriended Libraries</a></li>
						<li><a href="{{url_for('auth.logout')}}">Logout</a></li>
						<li><a><i class="fa fa-user"></i> Hi, {{current_user.username}}</a></li>
						{% else %}
						<li><a href="{{url_for('auth.register')}}">Register</a></li>
						<li><a href="{{url_for('auth.login')}}">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</nav>
		</div>
		<div class="wrapper">
			{% block body %}
			{% endblock %}
			<div class="push"></div>
		</div>
		<!--
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="list-inline">
							<li><a href="{{ url_for('home.homepage') }}">Home</a></li>
							<li class="footer-menu-divider">|</li>							
							{%if current_user.is_authenticated%}
							<li><a href="{{url_for('auth.logout')}}">Logout</a></li>
							{%else%}
							<li><a href="{{url_for('auth.register')}}">Register</a></li>
							<li class="footer-menu-divider">|</li>							
							<li><a href="{{url_for('auth.login')}}">Login</a></li>
							{%endif%}
						</ul>
						<p class="copyright text-muted small">2017. DJ</p>
					</div>
				</div>
			</div>
		</footer>
		-->
		<script type="text/javascript"	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript"	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript"	src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
		
		<script>
			$(document).ready(function(){
				$('table.tabelka').DataTable({
					"responsive":true,
					"pagingType":"full"
				});
			});
		</script>
	</body>
</html>